@page
@model CO659_TeamApp.Pages.Symptoms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Symptom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Symptom.SymptomName" class="control-label"></label>
                <input asp-for="Symptom.SymptomName" class="form-control" />
                <span asp-validation-for="Symptom.SymptomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.SymptomType" class="control-label"></label>
                <input asp-for="Symptom.SymptomType" class="form-control" />
                <span asp-validation-for="Symptom.SymptomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.SymptomDetails" class="control-label"></label>
                <input asp-for="Symptom.SymptomDetails" class="form-control" />
                <span asp-validation-for="Symptom.SymptomDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.SymptomSeverity" class="control-label"></label>
                <input asp-for="Symptom.SymptomSeverity" class="form-control" />
                <span asp-validation-for="Symptom.SymptomSeverity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
