@page
@model CO659_TeamApp.Pages.Practitioners.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Practitioner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Practitioner.PractitionerFName" class="control-label"></label>
                <input asp-for="Practitioner.PractitionerFName" class="form-control" />
                <span asp-validation-for="Practitioner.PractitionerFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Practitioner.PractitionerLName" class="control-label"></label>
                <input asp-for="Practitioner.PractitionerLName" class="form-control" />
                <span asp-validation-for="Practitioner.PractitionerLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Practitioner.PractitionerTitle" class="control-label"></label>
                <input asp-for="Practitioner.PractitionerTitle" class="form-control" />
                <span asp-validation-for="Practitioner.PractitionerTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Practitioner.PractitionerDept" class="control-label"></label>
                <input asp-for="Practitioner.PractitionerDept" class="form-control" />
                <span asp-validation-for="Practitioner.PractitionerDept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
