@page
@model CO659_TeamApp.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.BookingDate" class="control-label"></label>
                <input asp-for="Appointment.BookingDate" class="form-control" />
                <span asp-validation-for="Appointment.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookingTime" class="control-label"></label>
                <input asp-for="Appointment.BookingTime" class="form-control" />
                <span asp-validation-for="Appointment.BookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ApptDate" class="control-label"></label>
                <input asp-for="Appointment.ApptDate" class="form-control" />
                <span asp-validation-for="Appointment.ApptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ApptTime" class="control-label"></label>
                <input asp-for="Appointment.ApptTime" class="form-control" />
                <span asp-validation-for="Appointment.ApptTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ApptLength" class="control-label"></label>
                <input asp-for="Appointment.ApptLength" class="form-control" />
                <span asp-validation-for="Appointment.ApptLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
